/*Font Family */
@font-face {
    font-family: "Optima";

}
/*University’s Corporate Colours*/
:root{
    --C0: rgb(167, 169, 172);
    --C1: rgb(0, 125, 190);
    --C2: rgb(0, 88, 138);
    --C3: rgb(0, 171, 189);
    --C4: rgb(84, 198, 211);
    --C5: rgb(0, 183, 199);
    --C6: rgb(35, 31, 32);
    --C7: rgb(99, 100, 102);
}
*,
*::before, 
*::after
    {
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
