/*Container*/
.container{
	width=1500px;
	text-align:center;
}

/*Header*/
.top{
	width:100%;
	background-color:#2FA5EB;
	border-bottom:2px solid #f0f0f0;
}
/*Footer*/
.footer{
	width:100%;
	background-color:#2FA5EB;
	border-bottom:2px solid #f0f0f0;
}